@font-face {
    font-family: 'pingfangsc-thin';
    src: url(../../font/pingfangsc-thin.woff2);
}

@font-face {
    font-family: 'pingfangsc-regular';
    src: url(../../font/pingfangsc-regular.woff2);
}
* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #4371db;
    overflow: hidden;
}

.container {
    margin-top: 10vh;
    color: white;
    /*background-color: #dc5656;*/
    width: 100%;
    text-align: center;
}

#title {
    /*background-color: #5bd2a7;*/
}

#title p {
    font-family: "pingfangsc-regular", serif;
    font-size: 9vh
}

#info {
    margin-top: 1vh;
    text-align: center;
    /*background-color: #5888a8;*/
    font-family: "pingfangsc-thin", serif;
}

#info p {
    font-size: 6vh;
}

.sic-info-social-medias {
    margin-top: 1vh;
    /*background-color: #7747af;*/
    justify-content: center;
    display: flex;
}

.social-media-box {
    /*background-color: #c5b871;*/
    margin-left: 1vw;
    margin-right: 1vw;
    display: grid;
    place-items: center;

}

.social-media-box img {
    height: 8vh;
}


.panda {
    margin-top: 2vh;
    width: 100%;
    display: grid;
    justify-content: center;
}

.panda img {
    width: 28vh;
}

/*底部*/
#bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: white;
    text-align: center;
}

#bottom-topLine {
    background: orange;
    width: 100%;
    height: 1vh;
}

#bottom-pic {
    height: 7vh;
}

#school {
    display: inline-block;
    float: left;
    margin-top: 0.75vh;
    height: 5.5vh;
    margin-left: 0.75vh;
}

#sic {
    display: inline-block;
    margin-top: 0.75vh;
    height: 5.5vh;
    margin-left: 0.75vh;
}

#panda {

    display: inline-block;
    float: right;
    margin-top: 0.75vh;
    height: 5.5vh;
    margin-right: 0.75vh;
}

