<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待机画面：横屏</title>
    <link rel="stylesheet" href="../../css/render/h-loading.css" type="text/css">
</head>
<body>
<div>
    <div id="top"><p>飞跃杯总决赛</p></div>
    <div id="poster-time">
        <div id="poster">
            <img src="../../upload/poster" alt="" id="posterImg">
        </div>
        <div id="time">
            <div>
                <p>即将开始</p>
                <p><span id="hour">00</span>:<span id="min">00</span>:<span id="sec">00</span></p>
            </div>
        </div>
    </div>
    <div id="host">主办方：深职大</div>
    <div id="social-medias">
        <div id="imgs">
            <img src="../../images/view-imgs/social-media/bilibili.svg" alt="" class="img">
            <img src="../../images/view-imgs/social-media/wechat.svg" alt="" class="img">
            <img src="../../images/view-imgs/social-media/douyin.svg" alt="" class="img">
            <img src="../../images/view-imgs/social-media/weibo.svg" alt="" class="img">
        </div>
        <p>深职大SIC</p>
    </div>
    <div id="bottom">
        <div id="bottom-topLine"></div>
        <div id="bottom-pic">
            <img id="school" src="../../images/view-imgs/SIC/school-badge.png" alt="">
            <img id="sic" src="../../images/view-imgs/SIC/SIC.png" alt="">
            <img id="panda" src="../../images/view-imgs/SIC/panda-gray.png" alt="">
        </div>
    </div>
</div>
<script src="../../api/axios.min.js"></script>
<script src="../../scripts/render/h-loading.js"></script>
</body>
</html>