<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置：横屏模式</title>
    <link rel="stylesheet" href="../../css/set/h-set.css" type="text/css">
    <link rel="stylesheet" href="../../css/set/loading-set.css" type="text/css">
    <link rel="stylesheet" href="../../css/set/pause-set.css" type="text/css">
    <link rel="stylesheet" href="../../css/set/h-end-set.css" type="text/css">
    <link rel="icon" href="../../images/favicons/set.png" type="image/x-icon">
    <style>
    </style>
</head>
<body>
<div id="set-wrapper">
    <div id="tab-bar">
        <div class="tab-out">
            <div class="tab-in selected" data-id="1">待机页面</div>
        </div>
        <div class="tab-out">
            <div class="tab-in" data-id="2">暂停页面</div>
        </div>
        <div class="tab-out">
            <div class="tab-in" data-id="3">结束页面</div>
        </div>
        <div class="tab-out">
            <div class="tab-in" data-id="4">右下角水印</div>
        </div>
    </div>
    <div id="tab-content">
        <div id="iframeBox">
            <div>
                <iframe class="iframe selected" data-id="1" frameborder="0" src="/render/h-loading"></iframe>
                <iframe class="iframe" data-id="2" frameborder="0" src="/render/h-pause"></iframe>
                <iframe class="iframe" data-id="3-1" frameborder="0" src="/render/h-endNoCam"></iframe>
                <iframe class="iframe" data-id="3-2" frameborder="0" src="/render/h-end"></iframe>
                <iframe class="iframe" data-id="4" frameborder="0" src="/render/h-watermark"></iframe>
                <div id="href">
                    <input id="hrefInput" type="text" value="">
                    <button id="refresh">刷新</button>
                    <button id="open">新窗口打开</button>
                    <button id="copy">复制</button>
                </div>
            </div>
        </div>

        <div id="settings">
            <!--待机-->
            <div class="setting selected" data-id="1" id="loading-settings">
                <div id="mainHeading" class="loading-set">
                    <div id="mainHeadingText" class="text">主标题(一般写活动名称,支持&lt;br&gt;换行标签)</div>
                    <div id="mainHeadingInput" class="input">
                        <input id="main" type="text" name="mainHeadingInput" value="">
                    </div>
                </div>
                <div id="subheading" class="loading-set">
                    <div id="subHeadingText" class="text">副标题(一般写主办单位)</div>
                    <div id="subHeadingInput" class="input">
                        <input type="text" name="subHeadingInput" value="">
                    </div>
                </div>
                <div id="time" class="loading-set">
                    <div id="timeText" class="text">开始时间(点击右边的小图标)</div>
                    <div id="timeInput" class="input">
                        <input type="datetime-local" name="timeInput" value="">
                    </div>
                </div>
                <div id="poster" class="loading-set">
                    <div id="posterText" class="text">海报图片(支持jpg , jpeg , webp , png , gif)</div>
                    <div id="posterInput" class="input">
                        <input id="fileUpload" type="file" name="posterInput" accept=".jpg, .jpeg, .png,.webp,.gif"
                               style="all: unset; border: 0;background-color: white;">
                    </div>
                </div>
                <div id="loading-submit" class="loading-set">
                    <div>提交</div>
                </div>
            </div>

            <!--暂停-->
            <div class="setting " data-id="2" id="pause-settings">
                <div id="header" class="pause-set">
                    <div id="headerText" class="text">标题(如：活动暂停、中场休息中...)</div>
                    <div id="headerInput" class="input">
                        <input type="text" name="header" value="活动暂停">
                    </div>
                </div>
                <div id="describe" class="pause-set">
                    <div id="describeText" class="text">描述(如：请稍等、18:45继续比赛)</div>
                    <div id="describeInput" class="input">
                        <input type="text" name="describe" value="请稍等">
                    </div>
                </div>
                <div id="pause-submit" class="pause-set">
                    <div>提交</div>
                </div>
            </div>
            <div class="setting" data-id="3" id="end-settings">
                <div id="no" class="choice selected">
                    无摄像机预留位
                </div>
                <div id="yes" class="choice">
                    有摄像机预留位
                </div>
            </div>
            <div class="setting" data-id="4"></div>
        </div>
    </div>
</div>
<script src="../../api/axios.min.js"></script>
<script src="../../scripts/set/h-set.js"></script>
</body>
</html>