<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="icon" href="../../images/favicons/login.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/set/login.css" type="text/css">
</head>
<body>

<!--登录框-->
<div class="login-wrapper">
    <div class="header"><img id="sic-logo" src="../../images/view-imgs/SIC/SIC-logo.png" alt=""></div>
    <div class="form-wrapper">
        <label>
            <input type="text" name="username" placeholder="用户名"
                   class="input-item" id="username">
        </label>
        <label>
            <input type="password" name="password" placeholder="密码"
                   class="input-item" id="password">
        </label>
        <div class="btn">
            登录
        </div>
    </div>
    <div id="reset">重置用户</div>
</div>

<!--底部信息-->
<div id="info">
    程序原创：黄浩泓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    美术指导：刘梦云、 马世龙&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    程序重构：许文彬
</div>
<script src="../../api/axios.min.js"></script>
<script src="../../scripts/set/login.js"></script>
</body>
</html>