<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模式选择</title>
    <link rel="icon" href="../../images/favicons/mode.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/set/mode.css" type="text/css">
</head>
<body>
<div class="mode-wrapper">
    <div id="choice">
        <div class="mode selected" id="LandscapeMode" data-index="0">横屏模式</div>
        <div class="mode" id="PortraitMode" data-index="1">竖屏模式</div>
    </div>
    <div class="btn">确认</div>
</div>

<script src="../../scripts/set/mode.js"></script>
<script src="../../api/axios.min.js"></script>
</body>
</html>