#end-settings {
    width: 100%;
    height: 100%;
    /*background-color: #fbc2eb;*/
}

#no {
    user-select: none;
    margin: 45% auto 0;
    width: 32%;
    height: 10%;
    /*background-color: #9bbbee;*/
    border-radius: 10px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 8px #838080;
    font-size: 17px;
}

#yes{
    user-select: none;
    margin: 5% auto 0;
    width: 32%;
    height: 10%;
    /*background-color: #c7d075;*/
    border-radius: 10px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px #656161;
    font-size: 17px;
}

#end-settings .choice.selected {
    border: 1.5px solid black;
    font-weight: bold;
}