* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: radial-gradient(#fbc2eb, #a6c1ee);
}

/*整个登录框*/
.login-wrapper {
    background-color: #fff;
    width: 320px;
    height: 360px;
    border-radius: 15px;
    padding: 50px 50px 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*sic的logo*/
#sic-logo {
    display: block;
    margin: 0 auto;
    transition: transform 1s ease;
    width: 100px;
}

/*用户名和密码输入框*/
.input-item {
    /*background-color: #da4f4f;*/
    display: block;
    width: 300px;
    margin: 0 auto 20px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 17px;
    outline: none;
    /*font-weight: bold;*/
}

.input-item#username {
    margin-top: 30px;
}

.input-item::placeholder {
    text-transform: uppercase;
}

/*登录按钮*/
.btn {
    /*background-color: #5cb1d5;*/
    border-radius: 8px;
    user-select: none;
    cursor: default;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 40px auto 0;
    font-size: 18px;
    color: rgb(128, 125, 125);
    font-weight: bold;
    border: 1px solid rgb(128, 125, 125);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    color: black;
    border: 1px solid black;
}

#reset{
    user-select: none;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    /*background-color: #8ed39c;*/
    width:70px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    color: rgb(128, 125, 125);
}
#reset:hover{
    font-weight: bold;
    color: black;
}




/*底部信息栏*/
#info {

    font-size: 19px;
    line-height: 80px;
    width: 800px;
    height: 80px;
    /*background: #a6c1ee;*/
    text-align: center;

    position: fixed;
    left: 50%; /* 让元素的左边缘在页面的中间 */
    transform: translateX(-50%); /* 通过平移使元素水平居中 */
    bottom: 0;
    color: white; /* 使元素水平居中 */
}



