* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: radial-gradient(#fbc2eb, #a6c1ee);
}

.mode-wrapper {
    background-color: #fff;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 1px rgba(100, 97, 97, 0.3);
}

#choice {
    margin: 100px auto 0;
    user-select: none;
    width: 340px;
    height: 52px;
    text-align: center;
    font-size: 17px;
}

#LandscapeMode {
    float: left;
}

#PortraitMode {
    float: right;
}

.mode {
    border-radius: 5px;
    line-height: 46px;
    background: #c4bebe;
    display: inline-block;
    width: 150px;
    height: 46px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.mode.selected {
    font-weight: bold;
    background-image: linear-gradient(to right bottom, #fbc2eb, #a6c1ee);

}

.btn {
    border-radius: 8px;
    user-select: none;
    cursor: default;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: 40px auto 0;
    /*background: #aedbea;*/
    color: rgb(128, 125, 125);
    font-weight: bold;
    border: 1px solid rgb(128, 125, 125);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    color: black;
    border: 1px solid black;

}

