* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    background-image: radial-gradient(#fbc2eb, #a6c1ee);
}

#set-wrapper{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tab-bar {
    display: flex; /* 使用flexbox */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    width: 700px;
    margin: 0 auto;
    height: 45px;
}

.tab-out {

    display: flex; /* 使用flexbox */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    width: 175px;
    --in_height: 45px;
    height: var(--in_height);
    text-align: center;
}

.tab-in {
    user-select: none;
    width: 150px;
    height: var(--in_height);
    line-height: var(--in_height);
    background: rgb(211, 204, 204);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(82, 81, 81, 0.3);
}

.tab-in.selected {
    background-image: linear-gradient(to right, #f6afe3, #9bbbee);
    font-weight: bold;
    box-shadow: 0 0 2px 2px white;
}

#tab-content {
    box-shadow: 2px 2px 8px #a4a1a1;
    padding-left: 50px;
    display: block;
    margin: 25px auto 0;
    background-color: #fff;
    width: 1200px;
    height: 600px;
    border-radius: 15px;
}

#iframeBox {
    float: left;
    height: 100%;
    width: 640px;
    /*background: #a6c1ee;*/
    display: block;
    justify-content: center; /* 水平居中 */

}
#iframeBox iframe{
    margin: 40px auto 0;
}

.iframe {

    /*background-color: #cb97e3;*/
    width: 270px;
    height: 480px;
    box-shadow: 0 0 15px #696565;
    display: none;
}
.iframe.selected{
    display: block;
}



#settings {
    margin-left: 40px;
    display: grid;
    place-items: center;
    float: left;
    width: 480px;
    height: 100%;
    /*background-color: #a6c1ee;*/
}

.setting {
    display: none;
}

.setting.selected {
    display: block;
}


#href {
    margin-top: 10px;
    width: 640px;
    height: 30px;
    /*background-color: yellow;*/
    display: flex;
    align-content: center;
    box-shadow: 0 0 10px #696565;;
    border-radius: 5px;
}

#href input{
    all: unset;
    background-color: #efefef;
    /*background-color: #e37b7b;*/
    border: 1px solid #494949;
    width: 55%;
    height: 95%;
    border-radius: 3px;
    font-weight: bold;
    /*color:red;*/
    text-align: center;
    font-size: 14px;
}
#href button{
    height: 100%;
    width: 15%;
    /*background-color: #fff;*/
}

