@font-face {
    font-family: 'pingfangsc-medium';
    src: url(../../font/pingfangsc-medium.woff2);
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: black;
    overflow: hidden;
}

/*视频*/

.socket {
    position: absolute;
    /*background: #af78c5;*/
    width: 100vw;
    height: 14vh;
    top: 33vh;

}

.socket img {
    display: block;
    height: 100%;
    margin: 0 auto;
}


/*文本*/

h1 {
    font-family: "pingfangsc-medium", serif;
    color: white;
    /*background-color: #9bbbee;*/
    width: 100%;
    font-size: 4.5vh;
    height: 7vh;
    display: grid;
    place-items: center;
    font-weight: lighter;
    position: absolute;
    top: 53vh;
}

h2 {
    color: white;
    font-family: "pingfangsc-medium", serif;
    /*background-color: #87d0ab;*/
    width: 100%;
    font-size: 3.5vh;
    height: 7vh;
    display: grid;
    place-items: center;
    font-weight: lighter;
    position: absolute;
    top: 61vh;
}

/*底部*/
#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.5vh;
    background-color: white;
    text-align: center;
}

#bottom-topLine {
    background: orange;
    width: 100%;
    height: 0.4vh;
}

#bottom-pic {
    height: 8vh;
    display: flex;
    align-items: center;
    position: relative;
}

#school {
    display: inline-block;
    left: 0;
    height: 5.4vh;
    margin-left: 1.3vh;
}

#sic {
    margin: 0 auto;
    position: absolute;
    display: inline-block;
    height: 4.8vh;
    top: 50%; /* 距离顶部 50% */
    left: 50%; /* 距离左边 50% */
    transform: translate(-50%, -50%); /* 将元素的中心点移动到 (50%, 50%) */
}

#panda {
    display: inline-block;
    position: absolute;
    margin-left: auto;
    right: 0;
    height: 5.4vh;
    margin-right: 1.3vh;
}